/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
}


.sidebar {
  position: sticky;
  top: 0;
  left: 0;
  width: 240px;
  height: 100vh;
  padding: 16px;
  color: #fff;
  overflow: hidden;
  transition: width 0.5s ease-in-out;
  background: rgba(113, 99, 186, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar:hover {
  width: 150px;
}

.logo {
  height: 80px;
  margin-bottom: 16px;
}

.menu {
  flex-grow: 1;
  list-style: none;
  padding: 0;
  width: 100%;
}

.menu li {
  padding: 12px;
  margin: 8px;
  border-radius: 8px;
  transition: background 0.3s ease;
}

.menu li:hover,
.active {
  background: #e0e0e0;
}

.menu a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

.menu a i {
  margin-right: 8px;
}


.main--content {
  flex-grow: 1;
  padding: 16px;
}

.header--wrapper {
  background: #fff;
  border-radius: 10px;
  padding: 10px 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header--title {
  color: rgba(113, 99, 186, 0.9);
}

.user--info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search--box {
  background: #f2f2f2;
  border-radius: 15px;
  color: rgba(113, 99, 186, 0.9);
  display: flex;
  align-items: center;
  padding: 8px 12px;
}

.search--box input {
  background: transparent;
  border: none;
  padding: 8px;
}

.search--box i {
  font-size: 1.2rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.search--box i:hover {
  transform: scale(1.1);
}

.card--container {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  flex direction: column: ;
}

.main--title {
  color: rgba(113, 99, 186, 0.9);
  font-size: 18px;
  margin-bottom: 10px;
}

.payment--card {
  background: #f2f2f2;
  border-radius: 10px;
  padding: 16px;
  width: 290px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease;
  
}

.payment--card:hover {
  transform: translateY(-5px);
}

.card--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.amount {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 12px;
  font-weight: 200;
}

.amount--value {
  font-size: 24px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}

.icon {
  color: #fff;
  padding: 12px;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50%;
  font-size: 1.5rem;
  background: red;
}

.card-detail {
  font-size: 14px;
  color: #777777;
  letter-spacing: 1px;
  font-family: "Courier New", Courier, monospace;
}


.light-red {
  background: rgba(251, 233, 233, 0.9);
}

.light-purple {
  background: rgba(254, 226, 254, 0.9);
}

.light-green {
  background: rgba(235, 254, 235, 0.9);
}

.light-blue {
  background: rgba(236, 236, 254, 0.9);
}

.dark-red {
  background: red;
}

.dark-purple {
  background: purple;
}

.dark-green {
  background: green;
}

.dark-blue {
  background: blue;
}


.tabular--wrapper {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  
}

table {
  width: 100%;
  border-collapse: collapse;
  position: bottom;
}

thead {
  background: rgba(113, 99, 186, 0.9);
  color: #fff;
}

th,
td {
  padding: 12px;
  text-align: left;
}

tbody {
  background: #f2f2f2;
}

tr:nth-child(even) {
  background: #fff;
}

tfoot {
  background: rgba(113, 99, 186, 0.9);
  color: #fff;
  font-weight: bold;
}
